<header class="header">
    <h2>Url shorter</h2>
    <div class="header-nav">
        <nav class="nav">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/urls">Urls</a></li>
                <% if (user.role === 'Admin') { %>
                    <li><a href="/admin">Admin</a></li>
                <% } %>
            </ul>
        </nav>
        <div class="user-info">
            <span class="user-name">User: <b><%= user.name %></b></span>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>