<header class="header">
    <h1>Url shorter</h1>
    <div class="header-nav">
        <nav class="nav">
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/urls">Urls</a></li>
            </ul>
        </nav>
        <div class="user-info">
            <span class="user-name">User: <b><%= user.name %></b></span>
            <a href="/logout">Logout</a>
        </div>
    </div>
</header>