<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    
    <div class="container">
        <h1><code>401</code> Unauthorized</h1>
        <p>You are not authorized to access this page</p>
        <a href="/login">/login</a>
    </div>

</body>
</html>